.navigation-container {
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255, 0.9) 70%,
    rgb(255, 255, 255, 0.8) 80%,
    rgba(255, 255, 255, 0.7) 95%,
    rgba(0, 212, 255, 0) 100%
  );
  z-index: 11;
  position: fixed;
  opacity: 0;
  transition: 0.5s;
  margin-left: -100vw;
}
.fade-in-nav {
  margin-left: 0;
  opacity: 1;
}
#nav-items-container {
  width: 50vw;
  height: 50vh;
  padding-left: 200px;
  padding-left: 10.41vw;
  padding-top: 80px;
  padding-top: 4.17vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.nav-item {
  /* background-color: aquamarine; */
  height: 10vh;
  width: 25vw;
  font-size: 34px;
  font-size: 1.77vw;
  line-height: 150px;
  line-height: 8vh;
  color: #000000;
  align-content: center;
  font-family: elgoc;
  font-weight: 100;
  /* text-align: center; */
  cursor: pointer;
}
.nav-item:hover {
  color: var(--eli-red);
}
#nav-item-5,
#nav-item-8 {
  line-height: 75px;
  line-height: 4vh;
}
#we-invite-container {
  width: 40vw;
  height: 5vw;
  padding-left: 230px;
  padding-left: 11.98vw;
  padding-bottom: 50px;
  padding-bottom: 2.6vw;
  bottom: 0;
  position: fixed;
}
#we-invite-container h1 {
  font-size: 25px;
  font-size: 1.3vw;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.join-us-container-nav {
  padding-top: 20px;
  padding-top: 1.04vw;
}
.join-us-nav {
  font-size: 18px;
  font-size: 0, 94vw;
  letter-spacing: 0px;
  line-height: 34px;
  line-height: 1, 77vw;
  color: var(--eli-red);
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  float: left;
}
.join-us-arrow-nav {
  width: 60px;
  width: 3, 12vw;
  height: 26px;
  height: 1, 35vw;
  margin-top: 4.5px;
  margin-top: 0, 23vw;
  margin-left: 10px;
  margin-left: 0, 52vw;
  background-image: url("../img/right-arrow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}
