.blur-bg {
  width: 100vw;
  height: 100vh;
  /* background-color: aquamarine; */
  top: 0;
  bottom: 0;
  position: fixed;
  display: none;
  z-index: 19;
  backdrop-filter: blur(10px);
}

#contact-pop-up-container {
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* filter: blur(4px); */
  z-index: 20;
  display: none;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
}
.show-pop-up {
  cursor: pointer;
}
#pop-up {
  width: 700px;
  width: 36.46vw;
  /* height: 600px;
  height: 31.25vw; */
  background-color: rgb(255, 255, 255);
  margin: calc(50vh - 300px) auto;
  margin: calc(50vh - 15.62vw) auto;
  padding: 10px;
  padding: 0.52vw;
  box-shadow: 0px 0px 10px #888888;
  opacity: 0;
  animation: popFade 0.7s forwards;
}
@keyframes popFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fake-pop-up {
  width: 0;
  height: 0;
  display: n;
  background-color: rgb(255, 255, 255);
  margin: calc(50vh - 300px) auto;
  margin: calc(50vh - 15.62vw) auto;
  padding: 10px;
  padding: 0.52vw;
  box-shadow: 0px 0px 10px #888888;
}
#close-pop-up {
  width: 30px;
  width: 1.56vw;
  height: 30px;
  height: 1.56vw;
  float: right;
  background: url("../img/close.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
#form-title-pop-up {
  font-size: 35px;
  font-size: 1.82vw;
  line-height: 27px;
  line-height: 1.4vw;
  letter-spacing: 0px;
  color: var(--eli-red);
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  opacity: 1;
  padding-top: 50px;
  padding-top: 2.6;
  padding-bottom: 30px;
  padding-bottom: 1.56vw;
}
#form-sub-title-pop-up {
  font-size: 18px;
  font-size: 0.94vw;
  line-height: 27px;
  line-height: 1.4vw;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  opacity: 1;
  /* transition: 1s; */
}
#form-container-pop-up {
  /* width: 100vw; */
  width: 600px;
  width: 31.25vw;
  margin: 50px auto;
  margin: 2.6vw auto;
  text-align: center;
}
.form-inputs-pop-up {
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
  width: 400px;
  width: 20.83vw;
  height: 50px;
  height: 2.6vw;
  margin: 15px 40px;
  margin: 0.78vw 2.08vw;
  font-size: 13px;
  font-size: 0.68vw;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background: transparent;
}
#submit-btn-pop-up {
  width: 40px;
  width: 2.08vw;
  height: 40px;
  height: 2.08vw;
}
/* ///////////////////////////////////////////////////// MOBILE */
@media (max-width: 500px) and (max-aspect-ratio: 13/9) {
  #contact-pop-up-container {
    overflow-y: scroll;
  }
  #pop-up {
    width: 300px;
    width: 80vw;
    /* height: 225px;
    height: 60vh; */
    margin: calc(50vh - 131px) auto;
    margin: calc(50vh - 35vh) auto;
    padding: 19px;
    padding: 5vw;
  }
  #fake-pop-up {
    width: 300px;
    width: 80vw;
    height: 225px;
    height: 60vh;
    margin: calc(50vh - 131px) auto;
    margin: calc(50vh - 35vh) auto;
    padding: 19px;
    padding: 5vw;
  }
  #close-pop-up {
    width: 23px;
    width: 6vw;
    height: 23px;
    height: 6vw;
  }
  #form-title-pop-up {
    font-size: 26px;
    font-size: 7vw;
    line-height: 26px;
    line-height: 7vw;
    padding-top: 50px;
    padding-top: 13vw;
    padding-bottom: 26px;
    padding-bottom: 7vw;
  }
  #form-sub-title-pop-up {
    font-size: 15px;
    font-size: 4vw;
    line-height: 19px;
    line-height: 5vw;
  }
  #form-container-pop-up {
    width: 263px;
    width: 70vw;
    margin: 38px auto;
    margin: 10vw auto;
  }
  .form-inputs-pop-up {
    width: 263px;
    width: 70vw;
    height: 38px;
    height: 10vw;
    margin: 0;
    font-size: 11px;
    font-size: 3vw;
  }
  #submit-btn-pop-up {
    width: 23px;
    width: 6vw;
    height: 23px;
    height: 6vw;
  }
}
@media (min-width: 501px) and (max-aspect-ratio: 13/9) {
  #contact-pop-up-container {
    overflow-y: scroll;
  }
  #pop-up {
    width: 461px;
    width: 60vw;
    /* height: 461px;
    height: 60vh; */
    margin: calc(50vh - 270px) auto;
    margin: calc(50vh - 35vh) auto;
    padding: 31px;
    padding: 4vw;
  }
  #fake-pop-up {
    width: 461px;
    width: 60vw;
    height: 461px;
    height: 60vh;
    margin: calc(50vh - 270px) auto;
    margin: calc(50vh - 35vh) auto;
    padding: 31px;
    padding: 4vw;
  }
  #close-pop-up {
    width: 31px;
    width: 4vw;
    height: 31px;
    height: 4vw;
  }
  #form-title-pop-up {
    font-size: 39px;
    font-size: 5vw;
    line-height: 39px;
    line-height: 5vw;
    padding-top: 78px;
    padding-top: 10vw;
    padding-bottom: 39px;
    padding-bottom: 5vw;
  }
  #form-sub-title-pop-up {
    font-size: 23px;
    font-size: 3vw;
    line-height: 23px;
    line-height: 3vw;
  }
  #form-container-pop-up {
    width: 384px;
    width: 50vw;
    margin: 23px auto;
    margin: 3vw auto;
  }
  .form-inputs-pop-up {
    width: 384px;
    width: 50vw;
    height: 78px;
    height: 10vw;
    margin: 0;
    font-size: 19px;
    font-size: 2.5vw;
  }
  #submit-btn-pop-up {
    width: 39px;
    width: 5vw;
    height: 39px;
    height: 5vw;
  }
}
