/* body::-webkit-scrollbar {
  display: none;
} */

:root {
  --eli-red: #ee4123;
}

@font-face {
  font-family: elgoc;
  src: url(../fonts/elgoc-semibold-webfont.woff) format("woff"),
    url(../fonts/elgoc-semibold-webfont.ttf) format("opentype");
}

body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  min-height: 100vh;
  min-width: 100vw;
}

.main-container {
  height: 100000px;
}

#loading-scr {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 100;
  position: absolute;
  transition: 2s;
}
.videos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
  /* transition: 1s; */
}
.videosRev {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
  /* transition: 1s; */
}
.nav-bar {
  height: 100vh;
  width: 80px;
  width: 4.17vw;
  background-color: white;
  border-right: 1px solid #d4d4d4;
  position: fixed;
  z-index: 15;
}
.logo-container {
  width: 100%;
  height: 25vh;
  /* padding: 50px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20px;
  width: 1.85vh;
  height: 200px;
  height: 18.52vh;
  background: url("../img/vertical_logo.svg");
  background-size: cover;
  background-position: center;
  z-index: 3;
  position: relative;
}
.join-our-container {
  width: 100%;
  height: 25vh;
  /* padding: 100px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-our p {
  width: 300px;
  width: 27.78vh;
  transform: rotate(-90deg);
  font-size: 17px;
  font-size: 1.57vh;
  line-height: 26px;
  line-height: 2.41vh;
  color: var(--eli-red);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.section-counter-container {
  width: 50px;
  width: 2.6vw;
  height: 240px;
  height: 12.5vw;
  position: fixed;
  z-index: 4;
  right: 30px;
  right: 1.56vw;
  bottom: 100px;
  bottom: 5.21vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-size: 0.73vw;
  letter-spacing: 0px;
  line-height: 27px;
  line-height: 1.4vw;
  color: #000000;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
#arrowUpSect {
  width: 40px;
  width: 2.08vw;
  height: 40px;
  height: 2.08vw;
  background-image: url("../img/arrowUp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#arrowDownSect {
  width: 40px;
  width: 2.08vw;
  height: 40px;
  height: 2.08vw;
  background-image: url("../img/arrowDown.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.counter-line {
  width: 3px;
  width: 0.16vw;
  height: 20px;
  height: 1.04vw;
  background-color: #c9c9c9;
}
.sections-container {
  width: 100vw;
  height: 100vh;
}
.section-title {
  font-size: 80px;
  font-size: 4.1vw;
  line-height: 94px;
  line-height: 4.9vw;
  color: #000000;
  font-weight: bold;
  font-family: elgoc;
  /* text-align: center; */
  opacity: 0;
  transition: 1s;
}
.fade-in-title {
  opacity: 1;
  padding-top: 0;
}
/* .text-container {
  width: 90%;
  padding-left: 10%;
  padding-top: 50px;
} */
.text {
  font-size: 18px;
  font-size: 1vw;
  letter-spacing: 0px;
  line-height: 27px;
  line-height: 1.4vw;
  color: #000000;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  padding-top: 60px;
  padding-top: 3.12vw;
  transition: 1s;
  opacity: 0;
}
.fade-in-text {
  opacity: 1;
  padding-top: 20px;
  padding-top: 1.04vw;
}

.bold {
  font-weight: 700;
}
.join-us-container {
  padding-top: 100px;
  padding-top: 5.21vw;
  /* padding-left: 145px; */
  opacity: 0;
  transition: 1s;
}
.join-us-container-fade-in {
  padding-top: 60px;
  padding-top: 3.12vw;
  opacity: 1;
}
.join-us {
  font-size: 22px;
  font-size: 1.15vw;
  letter-spacing: 0px;
  line-height: 34px;
  line-height: 1.77vw;
  color: var(--eli-red);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  float: left;
}
.join-us-arrow {
  width: 80px;
  width: 5vw;
  height: 35px;
  height: 2vw;
  background-image: url("../img/right-arrow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}
.partners-container {
  padding-top: 50px;
  padding-top: 2.6vw;
  opacity: 0;
  transition: 1s;
}
.partners-fade-in {
  padding-top: 10px;
  padding-top: 0.52vw;
  opacity: 1;
}
.parnets-logo-one {
  width: 50px;
  width: 2.5vw;
  height: 80px;
  height: 4.17vw;
  background-image: url("../img/aws.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  /* margin-top: 15px; */
}
.parnets-logo-two {
  width: 100px;
  width: 5.21vw;
  height: 80px;
  height: 4.17vw;
  background-image: url("../img/softBank.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}
.parnets-logo-three {
  width: 100px;
  width: 5.21vw;
  height: 80px;
  height: 4.17vw;
  background-image: url("../img/mckinsey.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}
.parnets-logo-four {
  width: 50px;
  width: 2.5vw;
  height: 80px;
  height: 4.17vw;
  background-image: url("../img/wps.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  /* margin-top: 15px; */
}
.partners-devider {
  width: 1px;
  width: 0.05vw;
  height: 20px;
  height: 1.04vw;
  background-color: #c9c9c9;
  float: left;
  margin: 30px 35px;
  margin: 1.56vw 1.82vw;
}
.text-one-partners {
  padding-top: 40px;
  padding-top: 2.08vw;
}
.section-one-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
}
.title-one {
  font-size: 116px;
  font-size: 6vw;
}
.text-container-one {
  padding-top: 50px;
  padding-top: 2.6vw;
}
.text-one {
  font-size: 21px;
  font-size: 1.1vw;
}
.join-us-container-one {
  margin-top: 79px;
  margin-top: 4vw;
}
#section-one {
  padding-left: calc(80px + 80px);
  padding-left: calc(80px + 4.17vw);
  padding-top: 140px;
  padding-top: 7.29vw;
}
.section-two-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    -90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
  right: 0;
}
#section-two {
  padding-top: 200px;
  padding-top: 10.42vw;
  padding-right: 200px;
  padding-right: 10.42vw;
}
.section-three-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
}
#section-three {
  padding-left: calc(80px + 80px);
  padding-left: calc(80px + 4.17vw);
  padding-top: 320px;
  padding-top: 16.67vw;
}
.section-four-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 65%,
    rgba(255, 255, 255, 0.7) 80%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
}
#section-four {
  padding-left: calc(80px + 80px);
  padding-left: calc(80px + 4.17vw);
  padding-top: 220px;
  padding-top: 11.46vw;
  padding-right: 100px;
  padding-right: 5.21vw;
}
.section-five-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 20%,
    rgba(255, 255, 255, 0.9) 40%,
    rgba(255, 255, 255, 0.8) 65%,
    rgba(255, 255, 255, 0.7) 80%,
    rgba(255, 255, 255, 0.4) 90%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
}
#section-five {
  padding-left: calc(80px + 80px);
  padding-left: calc(80px + 4.17vw);
  padding-top: 200px;
  padding-top: 10.42vw;
  padding-right: 100px;
  padding-right: 5.21vw;
}
.section-six-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    -90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
  right: 0;
}
#section-six {
  padding-left: 120px;
  padding-left: 6.25vw;
  padding-top: 400px;
  padding-top: 20.83vw;
  padding-right: 100px;
  padding-right: 5.21vw;
}
.section-seven-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  /* background-image: linear-gradient(to right, rgb(46, 46, 46), rgba(255, 0, 0, 0)); */
  background: linear-gradient(
    -90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
  right: 0;
}
#section-seven {
  padding-left: 250px;
  padding-left: 13.02vw;
  padding-top: 300px;
  padding-top: 15.62vw;
  padding-right: 100px;
  padding-right: 5.21vw;
}
.section-eight-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
}
#section-eight {
  padding-left: calc(80px + 80px);
  padding-left: calc(80px + 4.17vw);
  padding-top: 70px;
  padding-top: 3.64vw;
  padding-right: 100px;
  padding-right: 5.21vw;
}
.section-nine-container {
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
}
#section-nine {
  padding-left: calc(80px + 80px);
  padding-left: calc(80px + 4.17vw);
  padding-top: 100px;
  padding-top: 5.21vw;
  padding-right: 100px;
  padding-right: 5.21vw;
}
.section-ten-container {
  width: 100vw;
  height: 350px;
  height: 18.23vw;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
  bottom: 0;
  padding-bottom: 30px;
  padding-bottom: 1.56vw;
}
#section-ten {
  padding-left: calc(80px + 170px);
  padding-left: calc(80px + 8.85vw);
  padding-top: 100px;
  padding-top: 5.21vw;
}
.title-ten {
  font-size: 80px;
  font-size: 4.1vw;
  line-height: 94px;
  line-height: 4.9vw;
  color: #000000;
  font-weight: bold;
  font-family: elgoc;
  opacity: 0;
  padding-top: 40px;
  padding-top: 2.08vw;
  transition: 1s;
  float: left;
}
.fade-in-title-ten {
  padding-top: 0px;
  opacity: 1;
}
.text-container-ten {
  padding-left: 100px;
  padding-left: 5.21vw;
  float: left;
}
.text-ten {
  font-size: 18px;
  font-size: 1vw;
  letter-spacing: 0px;
  line-height: 27px;
  line-height: 1.4vw;
  color: #000000;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  padding-top: 40px;
  padding-top: 2.08vw;
  transition: 1s;
  opacity: 0;
}
.fade-in-text-ten {
  padding-top: 0px;
  opacity: 1;
}
.text-ten-two {
  font-size: 18px;
  font-size: 1vw;
  letter-spacing: 0px;
  line-height: 27px;
  line-height: 1.4vw;
  color: #000000;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  padding-top: 60px;
  padding-top: 3.12vw;
  /* padding-bottom: 0px; */
  transition: 1s;
  opacity: 0;
}
.fade-in-text-ten-two {
  padding-top: 20px;
  padding-top: 1.04vw;
  /* padding-bottom: 40px; */
  opacity: 1;
}
.join-us-container-ten {
  float: left;
  padding-left: 145px;
  padding-left: 7.55vw;
}
.section-eleven-container {
  width: 100vw;
  height: 800px;
  height: 41.67vw;
  position: fixed;
  z-index: 3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255, 0.9) 40%,
    rgb(255, 255, 255, 0.8) 55%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 0;
  transition: 1s;
  display: none;
  top: 0;
  padding-top: 30px;
  padding-top: 1.56vw;
}
#section-eleven {
  /* padding-left: calc(80px + 170px);
  padding-left: calc(80px + 8.85vw); */
  padding-top: 100px;
  padding-top: 5.21vw;
  bottom: 0;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
}
#form-title {
  font-size: 35px;
  font-size: 1.82vw;
  line-height: 27px;
  line-height: 1.4vw;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  opacity: 1;
  /* transition: 1s; */
  padding-bottom: 30px;
  padding-bottom: 1.56vw;
}
#form-sub-title {
  font-size: 18px;
  font-size: 0.94vw;
  line-height: 27px;
  line-height: 1.4vw;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  opacity: 1;
  /* transition: 1s; */
}
#form-container {
  width: 100vw;
  margin: 100px auto;
  margin: 5.21vw auto;
  text-align: center;
}
#fake-form-container {
  width: 100vw;
  height: 100vw;
  margin: 100px auto;
  margin: 5.21vw auto;
  text-align: center;
}
::placeholder {
  text-align: center;
  color: #000000;
}
input:focus::placeholder {
  color: transparent;
}
input:hover #form-container {
  background-color: red;
}
.form-inputs {
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
  width: 400px;
  width: 20.83vw;
  height: 50px;
  height: 2.6vw;
  margin: 0 40px;
  margin: 0 2.08vw;
  font-size: 13px;
  font-size: 0.68vw;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background: transparent;
}
#submit-btn {
  width: 40px;
  width: 2.08vw;
  height: 40px;
  height: 2.08vw;
}
/* ///////////////////////////////////////////////////// MOBILE */
@media (max-width: 500px) and (max-aspect-ratio: 13/9) {
  .nav-bar {
    height: 40px;
    width: 100vw;
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  .logo-container {
    width: 25px;
    height: 40px;
    padding: 7.5px 15px;
    display: block;
    float: left;
  }

  .logo {
    width: 25px;
    /* width: 1.85vh; */
    height: 25px;
    /* height: 18.52vh; */
    background: url("../img/vertical_logo-small.png");
    background-size: cover;
    background-position: center;
    z-index: 3;
    position: relative;
  }
  .join-our-container {
    display: none;
  }
  .section-counter-container {
    width: 50px;
    width: 13.33vw;
    height: 240px;
    height: 64vw;
    right: 10px;
    right: 2.67vw;
    bottom: 20px;
    bottom: 5.33vw;
    font-size: 14px;
    font-size: 3.73vw;
    line-height: 27px;
    line-height: 7.2vw;
  }
  #arrowUpSect,
  #arrowDownSect {
    width: 40px;
    width: 10.67vw;
    height: 40px;
    height: 10.67vw;
  }
  .counter-line {
    width: 3px;
    width: 0.8vw;
    height: 20px;
    height: 5.33vw;
  }
  /* ///// */
  .section-title {
    font-size: 30px;
    font-size: 8vw;
    line-height: 30px;
    line-height: 8vw;
  }
  .text {
    font-size: 10px;
    font-size: 2.7vw;
    line-height: 15px;
    line-height: 4vw;
    padding-top: 20px;
    padding-top: 5.33vw;
  }
  .fade-in-text {
    padding-top: 10px;
    padding-top: 2.67vw;
  }
  .join-us-container {
    padding-top: 60px;
    padding-top: 16vw;
    /* margin-top: 50px;
    margin-top: 13.33vw; */
  }
  .join-us-container-fade-in {
    padding-top: 20px;
    padding-top: 5.33vw;
  }
  .join-us {
    font-size: 15px;
    font-size: 4vw;
    line-height: 34px;
    line-height: 9.07vw;
  }
  .join-us-arrow {
    width: 60px;
    width: 16vw;
    height: 26.25px;
    height: 7vw;
    margin-top: 4.37px;
    margin-top: 1.16vw;
  }
  .partners-container {
    padding-top: 50px;
    padding-top: 13.33vw;
  }
  .partners-fade-in {
    padding-top: 10px;
    padding-top: 2.67vw;
  }
  .parnets-logo-one,
  .parnets-logo-four {
    width: 25px;
    width: 6.67vw;
    height: 40px;
    height: 10.67vw;
  }
  .parnets-logo-two,
  .parnets-logo-three {
    width: 50px;
    width: 13.33vw;
    height: 40px;
    height: 10.67vw;
  }
  .partners-devider {
    width: 1px;
    height: 20px;
    height: 5.33vw;
    margin: 10px 5px 0 5px;
    margin: 2.67vw 1.33vw 0 1.33vw;
  }
  .section-one-container,
  .section-two-container,
  .section-three-container,
  .section-four-container,
  .section-four-container,
  .section-five-container,
  .section-six-container,
  .section-seven-container,
  .section-eight-container,
  .section-nine-container,
  .section-ten-container {
    width: 100vh;
    height: auto;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 20%,
      rgb(255, 255, 255, 0.9) 40%,
      rgb(255, 255, 255, 0.8) 55%,
      rgba(255, 255, 255, 0.7) 70%,
      rgba(0, 212, 255, 0) 100%
    );
    left: 0;
    top: 0;
  }
  .section-eleven-container {
    height: 150vh;
    /* background-color: aquamarine; */
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 20%,
      rgb(255, 255, 255, 0.9) 40%,
      rgb(255, 255, 255, 0.8) 55%,
      rgba(255, 255, 255, 0.7) 70%,
      rgba(0, 212, 255, 0) 100%
    );
  }
  #section-one,
  #section-two,
  #section-three,
  #section-four,
  #section-five,
  #section-six,
  #section-seven,
  #section-eight,
  #section-nine,
  #section-ten,
  #section-eleven {
    padding-left: 10px;
    padding-left: 2.67vw;
    padding-top: 78px;
    padding-top: calc(40px + 10vw);
    padding-bottom: 100px;
    padding-bottom: 26.67vw;
    padding-right: 0;
  }
  .title-one {
    font-size: 30px;
    font-size: 8vw;
  }
  /* .text-container-one {
    padding-top: 20px;
    padding-top: 5.33vw;
  } */
  .text-one {
    font-size: 10px;
    font-size: 2.7vw;
    /* padding-top: 20px; */
    /* padding-top: 5.33vw; */
  }
  .text-one-partners {
    padding-top: 20px;
    padding-top: 5.33vw;
  }
  .join-us-container-one {
    margin-top: 40px;
    margin-top: 10.67vw;
  }
  .text-container {
    padding-top: 0;
    padding-top: 0;
  }
  .title-ten {
    font-size: 30px;
    font-size: 8w;
    line-height: 30px;
    line-height: 8vw;
    float: none;
    /* text-align: center; */
    /* opacity: 0;
    padding-top: 40px;
    padding-top: 2.08vw;
    transition: 1s; */
  }
  .text-container-ten {
    padding-left: 0;
    float: none;
  }
  .text-ten,
  .text-ten-two {
    font-size: 10px;
    font-size: 2.7vw;
    line-height: 15px;
    line-height: 4vw;
    padding-top: 20px;
    padding-top: 5.33vw;
  }
  .fade-in-text-ten,
  .fade-in-text-ten-two {
    padding-top: 10px;
    padding-top: 2.67vw;
    opacity: 1;
  }
  .join-us-container-ten {
    float: none;
    padding-left: 0;
    padding-top: 20px;
    padding-top: 5.33vw;
  }
  /* /// */
  #section-eleven {
    padding-top: 150px;
    padding-top: 40vw;
    padding-left: 0;
    overflow-y: scroll;
  }
  #form-title {
    font-size: 35px;
    font-size: 9.33vw;
    line-height: 35px;
    line-height: 9.33vw;
    text-align: center;
    padding-bottom: 20px;
    padding-bottom: 5.33vw;
  }
  #form-sub-title {
    font-size: 18px;
    font-size: 4.8vw;
    line-height: 27px;
    line-height: 7.2vw;
  }
  #form-container {
    margin: 0 auto;
  }
  #fake-form-container {
    margin: 0 auto;
  }
  .form-inputs {
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    width: 300px;
    width: 80vw;
    height: 50px;
    height: 13.33vw;
    margin: 0 0;
    font-size: 13px;
    font-size: 3.47vw;
  }
  #submit-btn {
    width: 40px;
    width: 10.67vw;
    height: 40px;
    height: 10.67vw;
  }
}
/* ///////////////////////////////////////////////////// TABLET */
@media (min-width: 501px) and (max-aspect-ratio: 13/9) {
  .nav-bar {
    height: 60px;
    width: 100vw;
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  .logo-container {
    width: 25px;
    height: 40px;
    padding: 17.5px 25px;
    display: block;
    float: left;
  }
  .logo {
    width: 25px;
    height: 25px;
    background: url("../img/vertical_logo-small.png");
    background-size: cover;
    background-position: center;
    z-index: 3;
    position: relative;
  }
  .join-our-container {
    display: none;
  }
  .section-counter-container {
    width: 50px;
    width: 6.51vw;
    height: 240px;
    height: 31.25vw;
    right: 10px;
    right: 1.3vw;
    bottom: 20px;
    bottom: 2.6vw;
    font-size: 14px;
    font-size: 1.82vw;
    line-height: 27px;
    line-height: 3.51vw;
  }
  #arrowUpSect,
  #arrowDownSect {
    width: 40px;
    width: 5.21vw;
    height: 40px;
    height: 5.21vw;
  }
  .counter-line {
    width: 3px;
    width: 0.39vw;
    height: 20px;
    height: 2.6vw;
  }
  /* ///// */
  .section-title {
    font-size: 70px;
    font-size: 9.11vw;
    line-height: 70px;
    line-height: 9.11vw;
  }
  .text {
    font-size: 18px;
    font-size: 2.34vw;
    line-height: 25px;
    line-height: 3.25vw;
    padding-top: 60px;
    padding-top: 7.81;
  }
  .fade-in-text {
    padding-top: 20px;
    padding-top: 2.6vw;
  }
  .join-us-container {
    padding-top: 80px;
    padding-top: 10.42vw;
    /* margin-top: 50px;
    margin-top: 16.51vw; */
  }
  .join-us-container-fade-in {
    padding-top: 40px;
    padding-top: 5.21vw;
  }
  .join-us {
    font-size: 25px;
    font-size: 3.25vw;
    line-height: 34px;
    line-height: 4.437vw;
  }
  .join-us-arrow {
    width: 60px;
    width: 7.81vw;
    height: 26.25px;
    height: 3.42vw;
    margin-top: 6px;
    margin-top: 0.78vw;
  }
  .partners-container {
    padding-top: 100px;
    padding-top: 13.02vw;
  }
  .partners-fade-in {
    padding-top: 20px;
    padding-top: 2.6vw;
  }
  .parnets-logo-one,
  .parnets-logo-four {
    width: 50px;
    width: 6.51vw;
    height: 80px;
    height: 10.42vw;
  }
  .parnets-logo-two,
  .parnets-logo-three {
    width: 100px;
    width: 13.02vw;
    height: 80px;
    height: 10.42vw;
  }
  .partners-devider {
    width: 1px;
    height: 40px;
    /* height: 5.21vw; */
    margin: 20px 10px 0 10px;
    margin: 2.6vw 1.3vw 0 1.3vw;
  }
  .section-one-container,
  .section-two-container,
  .section-three-container,
  .section-four-container,
  .section-four-container,
  .section-five-container,
  .section-six-container,
  .section-seven-container,
  .section-eight-container,
  .section-nine-container,
  .section-ten-container {
    width: 100vh;
    height: auto;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 20%,
      rgb(255, 255, 255, 0.9) 40%,
      rgb(255, 255, 255, 0.8) 55%,
      rgba(255, 255, 255, 0.7) 70%,
      rgba(0, 212, 255, 0) 100%
    );
    left: 0;
    top: 0;
  }
  #section-one,
  #section-two,
  #section-three,
  #section-four,
  #section-five,
  #section-six,
  #section-seven,
  #section-eight,
  #section-nine,
  #section-ten,
  #section-eleven {
    padding-left: 20px;
    padding-left: 2.6vw;
    padding-top: 80px;
    padding-top: calc(60px + 2.6vw);
    padding-bottom: 300px;
    padding-bottom: 39.1vw;
    padding-right: 0;
  }
  #section-eight {
    padding-top: 100px;
    padding-top: calc(80px + 2.6vw);
  }
  .title-one {
    font-size: 70px;
    font-size: 9.11vw;
  }
  .text-container-one {
    padding-top: 20px;
    padding-top: 2.6vw;
  }
  .text-one {
    font-size: 18px;
    font-size: 2.34vw;
  }
  .text-one-partners {
    padding-top: 40px;
    padding-top: 5.21vw;
  }
  .join-us-container-one {
    margin-top: 70px;
    margin-top: 9.11vw;
  }
  .text-container {
    padding-top: 0;
    padding-top: 0;
  }
  .title-ten {
    font-size: 70px;
    font-size: 9.11vw;
    line-height: 70px;
    line-height: 9.11vw;
    float: none;
    /* text-align: center; */
    /* opacity: 0;
    padding-top: 40px;
    padding-top: 2.08vw;
    transition: 1s; */
  }
  .text-container-ten {
    padding-left: 0;
    float: none;
  }
  .text-ten,
  .text-ten-two {
    font-size: 18px;
    font-size: 2.34vw;
    line-height: 25px;
    line-height: 3.25vw;
    padding-top: 60px;
    padding-top: 7.81;
  }
  .fade-in-text-ten,
  .fade-in-text-ten-two {
    padding-top: 20px;
    padding-top: 2.6vw;
    opacity: 1;
  }
  .join-us-container-ten {
    float: none;
    padding-left: 0;
    padding-top: 40px;
    padding-top: 5.21vw;
  }
  /* /// */
  #section-eleven {
    padding-top: 250px;
    padding-top: 33vw;
    padding-left: 0;
    overflow-y: scroll;
  }
  #form-title {
    font-size: 35px;
    font-size: 4.56vw;
    line-height: 35px;
    line-height: 4.56vw;
    text-align: center;
    padding-bottom: 20px;
    padding-bottom: 2.6vw;
  }
  #form-sub-title {
    font-size: 18px;
    font-size: 2.34vw;
    line-height: 27px;
    line-height: 3.51vw;
  }
  #form-container {
    margin: 100px auto;
    margin: 13.02vw auto;
  }
  #fake-form-container {
    margin: 100px auto;
    margin: 13.02vw auto;
  }
  .form-inputs {
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    width: 600px;
    width: 78.12vw;
    height: 70px;
    height: 9.11vw;
    margin: 0 0;
    font-size: 20px;
    font-size: 2.6vw;
  }
  #submit-btn {
    margin-top: 70px;
    margin-top: 9.11vw;
    width: 40px;
    width: 5.21vw;
    height: 40px;
    height: 5.21vw;
  }
}
